#wjcallback-modal {
    position: fixed;
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: block;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color:rgba(0, 0, 0, 0);
    -webkit-transition: background .5s ease-out;
    -moz-transition: background .5s ease-out;
    -o-transition: background .5s ease-out;
    transition: background .5s ease-out;
}

#wjcallback-modal.show {
    display: block;
    background-color:rgba(0, 0, 0, 0.5);
}

#wjcallback-modal .wjcallbackform {
    display: inline-flex;
    position: relative;
    width: auto;
    min-width: 290px;
    text-align: left;
    box-sizing: border-box;
    background: #FFF;
    opacity: 0;
    -webkit-transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
    margin-top: 15px;
    margin-bottom: 15px;
}

.wjcallback-body-scrolloff {
    overflow: hidden;
    padding-right: 17px;
}

#wjcallback-modal.show .wjcallbackform {
    opacity: 1;
}

.wjcallbackform .form-validate {
    margin: 0;
}

.wjcallbackform .form-validate .modal-body {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

.wjcallbackform .form-validate input[type="text"],
.wjcallbackform .form-validate textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    display: block;
    height: auto;
}

.wjcallbackform .form-validate textarea {
    margin-bottom: 5px;
}

.wjcallbackform .form-validate .informtext {
    padding-bottom: 20px;
}

.wjcallbackform .modal-dialog {
    margin: 0 auto;
}

.wjcallbackform .modal-content {
    border: none;
}

.wjcallbackform .modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dfe3e7;
}

.wjcallbackform .modal-header .modal-title {
    font-size: 1.5em;
    line-height: 120%;
}

.wjcallbackform .modal-header .close {
    font-size: 2em;
    line-height: 1rem;
    cursor: pointer;
}


/* Preloader
*********************************************/
#wjcallback-loader {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1060;
}

#wjcallback-loader::after {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #0088cc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
	position: fixed;
	margin: -40px auto 0;
	top: 50%;
	left: 0;
	right: 0;
	content: "";
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Media
*********************************************/
@media only screen and (max-width : 480px) {
    #wjcallback-modal .wjcallbackform {
        margin: 15px;
    }
}
